* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#pokemonContainer{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    background-color: aqua;
    padding: 10px;
    max-width: 1000px;
}

.card {
    display: block;
    /* border: 1px solid black; */
    position: relative;
    background-color: blueviolet;
    min-width: 200px;
    max-width: 200px;
    min-height: 400px;
    max-height: 400px;
    margin: 5px;
    padding: 1rem;
}
.poopUp {
    display: block;
    display: none;
    position: absolute;
    top: 5%;
    left: 5%;
    /* opacity: 0.5; */
    width: 90%;
    height: 90%;
    overflow:auto;
    background-color: aqua;
}
.buttonPoopWrapper {
    top: 0;
    position: sticky;
    background-color: aqua;
}

.buttonPoop{
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    margin-right: .5rem;
    /* background-color: aquamarine; */
}
.pPoopTitle {
    font-weight: bold;
}

.pPoopContent {
    display: block;
    /* overflow:auto; */
}

.show {
    display: block;
}

img {
    max-width: 100%;
    border-bottom: 1px solid black ;
}
p {
    padding: 0%;
    margin: 0;
    font-size: .8rem;
}
.labelName {
    font-weight: bolder;
    color: rgb(217, 217, 47);
}

.pokeName {
    font-family:sans-serif;
    color: white;
}

#pokeName {
    font-weight: 900;
    font-size: 1.3rem;
}



.readmore {
    height: 200px;
    overflow: scroll;
}

.readmoreButton {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    color: lightblue;
}
.readmoreButton:hover {
    font-weight: bold;
}
.open {
    display: block;
}
.close {
    display: none;
}